<div class = "page-header">
  Login
</div>
<div class = "form">
  <div class = "well">
    <%= bootstrap_form_for(:session, url: signin_path) do |f| %>
      <%= f.text_field :email %>
      <%= f.password_field :password %>
      <%= f.submit "Login", :class => "btn btn-default" %>
    <%end%>
  </div>
</div>
<div class = "signup">
  <h3 id = "signup-option" > Don't have account? </h3>
  <div class = "btn-div">
      <%= link_to 'SignUp', new_user_path, :class => "btn btn-default btn-lg" %>
  </div>
</div>


