<h1>Login</h1>
  <p>
  <%= form_tag '/signin' do %></p>
  <p><%= label_tag :Email%></p>
  <p><%= text_field_tag :email %></p>
  <p><%= label_tag :Password%></p>
  <p><%= password_field_tag :password%></p>
  <p><%= submit_tag "Login"%></p>
<%end%>

<h3> Don't have account? </h3>

<%= link_to 'SignUp', signup_path %>
